.wrapper {
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box {
    padding: 30px;
    width: 40vw;
    background: #fff;
    box-shadow: 4px 4px 10px rgba(0,0,0,.3);
}

.header{
    border-bottom: 1px solid black;
}

.titulo{

    color: #7D2948;
}

.body-box{
    margin-top: 20px;
}

.btn-orange{

    background-color: #ED8554;
    color: white;
}

.btn-orange:hover{

    background-color: #be6136;
    color: white;
}

@media (max-width: 1000px)
{
    .box{
        width: 80vw;
    }
}

.btn-empresas{
    float: right;
    text-decoration: none;
    color: white;
    background-color: #7D2948;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
}

.btn-empresas:hover{
    color: white;
    text-decoration: none;
    background-color: #631f38;
}